@tailwind base;
@tailwind components;
@tailwind utilities;

.input-field {
  @apply w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 text-sm;
}
  
.btn-primary {
  @apply bg-blue-600 hover:bg-blue-700 text-white px-4 py-2 rounded-md shadow-sm text-sm font-medium transition;
}

.btn-danger {
  @apply inline-flex justify-center items-center px-4 py-2 rounded-md bg-red-500 text-white hover:bg-red-600 transition text-sm font-medium;
}

.btn-secondary {
  @apply inline-flex justify-center items-center px-3 py-2 rounded-md bg-gray-200 text-sm font-medium text-gray-800 hover:bg-gray-300 transition;
}

/* Кастомизация toast-уведомлений в стиле Apple */
.Vue-Toastification__toast {
  border-radius: 12px !important;
  background: rgba(255, 255, 255, 0.85) !important;
  backdrop-filter: blur(10px);
  color: #1a1a1a !important; /* Более тёмный текст */
  font-weight: 500;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.Vue-Toastification__icon {
  color: #007aff !important;
}

.Vue-Toastification__close-button {
  color: #1a1a1a !important;
  opacity: 0.6;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-6px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.15s ease-out;
}

.qe-input {
  @apply w-full px-4 py-2 border border-gray-300 rounded-lg text-base focus:outline-none focus:ring-2 focus:ring-blue-500 transition bg-white dark:bg-qe-black dark:text-gray-100 dark:border-gray-700;
}

.qe-btn {
  @apply w-full py-2 px-4 rounded-lg font-semibold bg-blue-600 hover:bg-blue-700 transition text-white shadow focus:outline-none focus:ring-2 focus:ring-blue-500;
  @apply dark:text-gray-200 dark:hover:bg-gray-700;
}

.qe-card {
  @apply border bg-white dark:bg-gray-900 rounded-xl shadow-sm p-5 transition hover:shadow-md flex flex-col gap-1 relative;
}

.qe-star-btn {
  @apply absolute top-4 right-4 rounded-full bg-transparent p-1 transition hover:bg-blue-50 dark:hover:bg-blue-800;
}

