@tailwind base;
@tailwind components;
@tailwind utilities;



/* Кастомизация toast-уведомлений в стиле Apple */
.Vue-Toastification__toast {
  border-radius: 12px !important;
  background: rgba(255, 255, 255, 0.85) !important;
  backdrop-filter: blur(10px);
  color: #1a1a1a !important; /* Более тёмный текст */
  font-weight: 500;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.Vue-Toastification__icon {
  color: #007aff !important;
}

.Vue-Toastification__close-button {
  color: #1a1a1a !important;
  opacity: 0.6;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-6px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.15s ease-out;
}

.qe-input {
  @apply w-full px-3 py-2 border border-gray-200 text-sm rounded-lg text-base focus:outline-none focus:ring-2 focus:ring-blue-500 transition bg-white dark:bg-qe-black dark:text-gray-100 dark:border-gray-700;
}

.qe-select {
  @apply px-2 py-2 border border-gray-200 text-sm rounded-lg text-base focus:outline-none focus:ring-2 focus:ring-blue-500 transition bg-white dark:bg-qe-black dark:text-gray-100 dark:border-gray-700;
}

.qe-btn {
  @apply  py-2 px-4 rounded-lg bg-blue-600 font-medium text-sm hover:bg-blue-700 transition text-white shadow focus:outline-none focus:ring-2 focus:ring-blue-500 border border-blue-700;
  @apply dark:text-gray-200 dark:hover:bg-gray-700 dark:border-blue-500;
}

.qe-btn-secondary {
  @apply  py-2 px-4 rounded-lg bg-gray-100 font-medium text-sm text-gray-700 hover:bg-gray-200 transition shadow focus:outline-none focus:ring-2 focus:ring-blue-500 border border-gray-300;
  @apply dark:bg-qe-black2 dark:text-gray-100 dark:hover:bg-gray-700 dark:border-gray-700;
}

.qe-btn-danger {
  @apply w-full py-2 px-4 rounded-lg bg-red-600 font-medium text-sm text-white hover:bg-red-700 transition shadow focus:outline-none focus:ring-2 focus:ring-red-500;
  @apply dark:bg-red-700 dark:text-gray-100 dark:hover:bg-red-800;
}

.qe-card {
  @apply border bg-white dark:bg-gray-900 rounded-xl shadow-sm p-5 transition hover:shadow-md flex flex-col gap-1 relative;
}

.qe-star-btn {
  @apply absolute top-4 right-4 rounded-full bg-transparent p-1 transition hover:bg-blue-50 dark:hover:bg-blue-800;
}

/* Скругление, цвет, паддинги для инпута внутри vuepic-datepicker */
.dp__input {
  width: 100% !important;
  /* top, right, bottom, left */
  border-radius: 0.5rem !important;
  border: 1px solid #e5e7eb !important;
  font-size: 1rem !important;
  background: #fff !important;
  color: #18181b !important;
  box-sizing: border-box;
  transition: border-color 0.2s;
}

.dark .dp__input {
  background: #1a1d1f !important;
  color: #f3f4f6 !important;
  border-color: #374151 !important;
}